@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --bg-color-green: rgb(61,224,126);
    --bg-color-black: rgb(0,0,0);
    --bg-colorgrey: rgb(51,51,51);
    --bg-color-red: rgb(232,63,87);
    --bg-color-brown: rgb(52,8,9);
}

.hero {
    background-color: var(--bg-color-green);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navicon {
    align-self: start;
    padding: 1rem;
}

.hero-header {
    font-size: 5rem;
    padding: 3rem 0;
}

main {
    background-color: var(--bg-color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column; 
}

.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 70%;
    padding: 2rem 0;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70%;
    padding: 2rem 0 4rem;
}

.card {
    color: white;
    margin-top: 2rem;
}

.big-card {
    background-color: white;
    color: black;
}

.card img,
.big-card img {
    width: 100%;
}

h2 {
    padding: 1rem 0;
}

.info {
 font-size: .8rem;
 margin-bottom: 2.5rem;
}

button {
    background-color: var(--bg-color-red);
    color: white;
    border-radius: .1rem;
    padding: .4rem;
    margin-top: auto;
    font-size: .7rem;
    align-self: start;
    cursor: pointer;
    border: none;
}

.big-card h2,
.big-card p {
    padding-left: 1rem;
}

.big-card button {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.checkout-main {
    color: white;
}

.bill {
    width: 70%;
    display: grid;
    grid-template-columns: 4fr 1fr 2fr 1fr;
}

.bill p {
    padding: .3rem;
}

.bg-brown {
    background-color: var(--bg-color-brown);
    font-size: .7rem;
}

hr {
    grid-column-start: 1;
    grid-column-end: 5;
}

.total {
    grid-column-start: 1;
    grid-column-end: 4;
}

.bill button {
    margin: 5rem 0;
    grid-column-start: 3;
    grid-column-end: 5;
}

footer {
    background-color: var(--bg-colorgrey);
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    place-items: center;
    padding: 2rem 0 5rem;
}

footer h3 {
    padding: .5rem 0;;
}

footer p,
footer img {
    font-size: .7rem;
    cursor: pointer;
}
